/* Main Site stye */
.navbar-dark  {
    background-color: rgba(36, 46, 48, 0.692);;
    border-bottom: 1px solid rgba(49, 49, 49, 0);
    border-top: 1px solid rgba(49, 49, 49, 0);
    margin: 0;
    padding: 0;
    font-size: large;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #b8b5b591;
    height: 50px;


}
.navbar-brand {
    padding: 0;
    margin: 0;
    height: 50px;
    width: 100px;
    background-image: url("../img/logo_small.png");
    background-size: 100px 50px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -10px;
    margin-top: -10px;
}
.navbar-brand:hover {
    background-image: url("../img/logo_small.png");
    background-size: 100px 50px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -10px;
    margin-top: -10px;
}
.navbar-brand:active {
    background-image: url("../img/logo_small.png");
    background-size: 100px 50px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -10px;
    margin-top: -10px;
}
.navbar-brand:focus {
    background-image: url("../img/logo_small.png");
    background-size: 100px 50px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -10px;
    margin-top: -10px;
}
.card-header {
    margin-top: -10px;
    background-color: rgba(36, 46, 48, 0.692);
}
.card {
    text-align: center;
    background-color: rgba(36, 46, 48, 0.692);
    color: #b8b5b591;
}
.list-group-item
{
    align-self: auto;
    text-align-last: center;
    background-color: rgba(36, 46, 48, 0.692);

}
.jumbotron-fluid {
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 1.2;
      

    }
body {
    
    background-image: url("../img/bg.png");
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #b8b5b591;
    line-height: 1.4em;
    background-size: cover;
}
.container {
    width: 100%;
    margin: 0;
    padding: 0;
}
.jumbotron {
    background-color: rgba(49, 49, 49, 0.281);
    margin: 0;
    padding: 0;
}
.jumbotron h1 {
    color: rgb(197, 197, 197);
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}